html, body {
  margin: 0;
  padding: 0;
  background-color: #242e42;
  font-family: system-ui;
}

a {
  text-decoration: none;
}

p, h3 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  border-bottom: 1px solid #1E293D;
  display: flex;
}

.header-logo {
  margin: 16px 0 16px 16px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  width: 50%;
}

.header-logo a {
  color: #F2F1F6;
}

.header-logo span {
  font-size: inherit;
  font-weight: normal;
}

.menu-icon {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.menu-icon a {
  color: #768195;
  padding: 16px;
  border: 1px solid #1E293D;
  border-bottom: none;
}

#menu {
  opacity: 1;
  transition: opacity 1s;
}

#menu.hide {
  opacity: 0;
}

.menu {
  width: 200px;
  color: #768195;
  font-size: 12px;
  font-weight: normal;
  padding: 20px 0;
}

.menu-profile {
  text-align: center;
}

.menu-profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.menu-profile-details h3 {
  font-size: 18px;
  font-weight: normal;
}

.menu-profile-details-icon {
  margin-left: 8px;
  color: #258FFF;
  font-size: 10px;
  font-weight: normal;
}

.menu-list {
  padding: 0;
  list-style: none;
}

.menu-link {
  display: block;
  padding: 14px 20px;
  border-left: 8px solid #242e42;
  text-decoration: none;
  color: #768195;
}

.menu-link:hover {
  border-radius: 0 10px 10px 0;
  color: #258FFF;
  background-color: #20283B;
  border-color: #258FFF;
}

.menu-link-icon {
  font-size: 20px;
  font-weight: normal;
  margin-right: 20px;
}
